<div>
  {{errorMessage}}
</div>

<table *ngIf="user">
  <tr>
    <td colspan="3" align="right">
        <div class="image-cropper-left" >
          <input
            [disabled]="isUserOwnComponent() ? false : true"
            class="input-file-upload"
            accept="image/png, image/jpeg"
            type="file" (change)="onProfilePhotoChanged($event)"
            #fileInput>
          <img [alt]="isUserOwnComponent() ? 'Change profile image' : ''"
               [title]="isUserOwnComponent() ? 'Change profile image' : ''"
               src={{user.avatarImageURL}}
               (click)="fileInput.click()">
        </div>
    </td>

    <td class="td-user-info">
      <tr>
        <span class="div-username">{{user?.userName}}</span>
      </tr>
      <tr>
        <span >123 posts</span>
        <span>13 followers</span>
        <span>12 following</span>
      </tr>
      <tr class="tr-text">
        <span><strong>{{user?.fullName}}</strong></span>
      </tr>
    </td>
  </tr>
</table>


