<table>
  <tr>
    <td colspan="3" align="right">
      <div  class="image-cropper-left">
        <img class="img" src="assets/images/gulf.png">
      </div>
    </td>

    <td style="text-align: left">
      <tr style="padding: 100px">
        <span class="div-username">{{user.username}}</span>
      </tr>
      <tr>
        <span >{{user.postsAmount}} posts</span>
        <span>{{user.followersAmount}} followers</span>
        <span>{{user.postsAmount}} following</span>
      </tr>
      <tr class="tr-text">
        <span><strong>{{user.fullName}}</strong></span>
      </tr>
    </td>
  </tr>
</table>


