mat-toolbar{
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
  border-bottom-style: solid;
  background-color: white;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  padding: 0.5%;
  width: 100%;
}
span{
  font-family: "Century Gothic";
  font-size: 20px;
  color: black;
  margin-left: 11%;
  margin-right: 3%;
}

mat-form-field{
  margin-top: 10px;
}
input{
  border-color: lightgrey;
  border-style: solid;
  border-width: 1px;
  font-family: "Century Gothic";
  font-size: 20px;
  color: black;
}
/* input color class */


/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white;
}
/* Change label color on un-focused */
::ng-deep .mat-form-field-empty.mat-form-field-label {
  color: black;
}

/*color of option*/
mat-option{
  background-color: white;
  color: black;
}





.buttons-div{
  margin-left: 25%;

}

.search-mat-icon{
  color: black;
  position: absolute;
}
.home-mat-icon{
  color: black;
  margin-left: 30px;
}

.group-mat-icon{
  color: black;
  margin-left:30px;
}
.person-mat-icon{
  color: black;
  margin-left: 30px;
  margin-top: 7px;
}

.button-login{
  color: white;
  font-size: smaller;
  background-color: black;
  border-style: none;
  position: absolute;
  margin-left:30px;
}
.button-logout{
  color: white;
  font-size: smaller;
  background-color: black;
  border-style: none;
  position: absolute;
  margin-left:30px;
}
